<h2>Sign In</h2>
<% if (typeof error !== 'undefined') { %>
    <p style="color:red"><%= error %></p>
<% } %>

<form action="/auth/login" method="POST">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Login</button>
</form>

<p>Don't have an account? <a href="/auth/register">Register here</a></p>
